# Provider declaration (AWS)
provider "aws" {
  access_key = "{{access_key}}"
  secret_key = "{{secret_key}}"
  region     = "us-east-1"
}

# Networks declaration
{% for net in networks %}
{% if net.PROVIDER == "AWS" %}
resource "aws_vpc" "{{net.name}}" {
  cidr_block = "{{net.ip_cidr_range}}"
  tags = {
    Name = "{{net.name}}"
  }
  # set zone
  availability_zone = "{{net.zone}}"
  enable_dns_hostnames = {{ net.dns_hostnames }}
  enable_dns_support = {{ net.dns_resolution }}
}

# declaring subnets
{% for i in range(0, net.private_subnet_count) %}
resource "aws_subnet" "{{net.name}}-{{i}}" {
  vpc_id = "${aws_vpc.{{net.name}}.id}"
  cidr_block = "{{net.cidrs[i]}}"
  availability_zone = "{{net.zone}}"
  tags = {
    Name = "{{net.name}}-{{i}}"
  }
}
{% endfor %}
{% endif %}
{% endfor %}