provider "google" {
    project = locals.project_id
    region = locals.region
}

{% for net in networks %}
resource "google_compute_network" "{{net.name}}" {
    name = "{{net.name}}"
    auto_create_subnetworks = {{ "true" if net.subnet != "" else "false" }}
    {% if net.subnet %}
    ipv4_range = "{{net.subnet}}"
    {% endif %}
}

{% for firewall in net.firewall_rules %}
resource "google_compute_firewall" "{{firewall.name}}" {
    name = "{{firewall.name}}"
    network = "{{ net.name }}"
{#  allow or deny => class name to lower case #}
{%  for rule in firewall.allows %}
        allow = {
            ports = {{ rule.ports }}
            protocol = "{{ rule.protocol }}"
            source_networks = {{ rule.source_networks }}
        }
{% endfor %}
{%  for rule in firewall.denies %}
        deny = {
            ports = {{ rule.ports }}
            protocol = "{{ rule.protocol }}"
            source_networks = {{ rule.source_networks }}
        }
{% endfor %}
    {% if firewall.target_tags != [] %}
    target_tags = {{ firewall.target_tags }}
    {% endif %}
    priority = 1000
}
{% endfor %}
{% endfor %}




