locals {
    project_id       = "{{ project_id }}"
    gcp_region       = "{{ gcp_region }}"
    aws_region       = "{{ aws_region }}"
    ssh_user         = "{{ ssh_user }}"
    private_key_path = "{{ private_key_path }}"

}
