locals {
    project_id       = {{ project_id }}
    region           = {{ region }}
    image            = {{ image }}
    ssh_user         = {{ ssh_user }}
    private_key_path = {{ private_key_path }}

    machines = {
    {% for machine in machines %}
        machine_{{ loop.index }} = {
            name = "{{ machine.name }}"
            {% if machine.gcp_type != "" %}
            gcp_type = "{{ machine.gcp_type }}"
            {% else %}
            cpu = {{ machine.cpu }}
            memory = {{ machine.memory }}
            {% endif %}
            {% if machine.aws_type != "" %}
            aws_type = "{{ machine.aws_type }}"
            {% endif %}
            gcp_zone = "{{ machine.gcp_zone }}"
            aws_zone = "{{ machine.aws_zone }}"
            gcp_network = {{ machine.gcp_network }}
            aws_network = {{ machine.aws_network}}
            disks = [
                {% for disk in machine.disks %}
                disk_{{ loop.index }} = {
                    name = "{{ disk.name }}"
                    gcp_type = "{{ disk.gcp_type }}"
                    aws_type = "{{ disk.aws_type }}"
                    size = {{ disk.size }}
                    gcp_zone = "{{ disk.gcp_zone }}"
                    aws_zone = "{{ disk.aws_zone }}"
                    {% if disk.image %}
                    image = "{{ disk.image }}"
                    {% endif %}
                }
                {% endfor %}
            ]
        }
    {% endfor %}
    }
}
